@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mystery+Quest&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'Spartan', sans-serif;
}

:root {
    --PrimaryColor: hsl(237, 50%, 48%);
    --SecondaryColor: hsl(180, 17%, 95%);
    --colorOne: hsl(15, 74%, 70%);
    --colorTwo: hsl(28, 100%, 82%);
    --HoverColor: hsl(225, 56%, 59%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 12%);
    --textColor: hsl(240, 1%, 48%);
    --borderColor: hsl(0, 0%, 83%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --grayBackground: hsl(0, 0%, 96%);
    --grayText: rgb(145, 145, 145);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --transition: 0.4s ease-in-out;
}

body {
    background-color: var(--whiteColor);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    cursor: pointer;
}

.section {
    padding: 0rem 0 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.none {
    display: none;
}

.btn {
    padding: 0.7rem 1.5rem;
    background-color: var(--PrimaryColor);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    color: var(--whiteColor);
    font-size: 18px;

    &a {
        color: var(--whiteColor);
        font-weight: 500;
    }

    &:hover {
        background-color: var(--HoverColor);
    }
}

img,
video {
    width: 100%;
    height: auto;
}

input {
    font-size: 100%;
    color: var(--grayText);
}

p {
    font-size: 18px;
    color: var(--grayText);
    line-height: 26px;
}

h4 {
    padding: 0.5rem 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--blackColor);
}

h2 {
    font-size: 25px;
    padding: 1rem 0;
    color: var(--blackColor);
}

// NavBar component
.navBar {
    position: fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;

    .navBarOne,
    .navBarTwo {
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }

    .navBarOne {
        background-color: var(--SecondaryColor);
        margin-top: -2px;

        .icon:hover {
            color: var(--PrimaryColor);
        }

        .atb {
            gap: 1rem;
            span {
                color: var(--blackColor);
                font-size: 17px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    color: var(--PrimaryColor);
                    font-weight: 700;
                }
            }
        }
    }

    .navBarTwo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 3rem;
        padding: 1.5rem 1rem;
        position: fixed;
        transition: 0.3s ease-in-out;

        .logoDiv {
            .Logo {
                width: 25%;
            }
        }

        @media screen and (max-width: 768px) {
            .navBarMenu {
                position: absolute;
                background-color: var(--SecondaryColor);
                padding: 1.5rem;
                border-radius: 10px;
                top: 6rem;
                right: -50%;
                width: 80%;
                transform: translateX(50%);
                z-index: 2000;
                box-shadow: var(--boxShadow);
                border: 3px solid var(--whiteColor);
                transition: var(--transition);

                .menu {
                    flex-direction: column;
                    gap: 0.5rem;
                    text-align: center;

                    .listItem {
                        padding: 0.5rem 0;
                        cursor: pointer;
                        color: var(--blackColor);
                        font-size: 18px;

                        &:hover {
                            color: var(--PrimaryColor);
                            font-weight: 700;
                            font-size: 20px;
                        }
                    }
                }

                .btnOne {
                    display: block;
                    justify-content: center;
                    margin: auto;
                    margin-top: 1rem;
                    font-size: 18px;
                }
            }
            .btnTwo {
                display: none;
            }
        }

        .toggleIcon {
            .icon {
                font-size: 30px;
                color: var(--blackColor);
            }
        }

        .showNavBar {
            right: 50%;
            transition: 0.5s ease-in-out;
        }
    }

    .navBarWithBackground {
        background-color: var(--SecondaryColor);
        padding: 0.5rem 1rem;
        box-shadow: var(--boxShadow);
    }
}

// Home component
.home {
    padding-top: 10rem;
    text-align: center;
    gap: 2rem;
    flex-direction: column;

    .mainText {
        color: var(--blackColor);
        font-weight: 700;
        font-size: 15px;
        line-height: 2.5rem;
    }

    .homeImages {
        width: 100%;
        margin: 1rem auto 0;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 5rem;
        z-index: 1500;

        .videoDiv {
            width: 100%;

            .video {
                border-radius: 10rem;
            }
        }

        .plane {
            position: absolute;
            width: 120%;
            top: -45%;
        }
    }
}

// Search component
.search {
    margin-top: 20%;

    .sectionContainer {
        width: 100%;
        padding: 1.5rem;
        border: 2px solid var(--grayText);
        border-radius: 16px;
        row-gap: 2rem;

        .btns {
            background-color: var(--SecondaryColor);
            padding: 0.5rem;
            border-radius: 1rem;
            flex-direction: column;
            width: 100%;
            margin: auto;

            .singleBtn {
                padding: 0.8rem 1.5rem;
                font-size: 18px;
                border-radius: 3rem;
                width: 100%;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: var(--PrimaryColor);
                    color: var(--whiteColor);
                    font-weight: 500;
                    transition: 0.4s ease;
                }
            }

            .active {
                background-color: var(--PrimaryColor);
                color: var(--whiteColor);
                font-weight: 500;
            }
        }

        .searchInputs {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            gap: 1.5rem;

            .singleInput {
                .iconDiv {
                    padding: 16px 10px;
                    border-radius: 3rem;
                    background-color: var(--SecondaryColor);
                    margin-right: 1rem;

                    .icon {
                        color: var(--blackColor);
                        opacity: 0.7;
                    }
                }

                .texts {
                    h4 {
                        padding-top: 0;
                        padding-bottom: 0.7rem;
                        color: var(--blackColor);
                        font-weight: 700;
                        font-size: 20px;
                    }

                    input {
                        width: 95%;
                        border: none;
                        outline: none;
                        background-color: transparent;

                        &::placeholder {
                            font-size: 16px;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
        .btnBlock {
            font-size: 18px;
            font-weight: 700;
            margin-top: 15px;
            display: flex;
            justify-content: center;
        }
    }
}

// Support component
.support {
    .sectionContainer {
        .titlesDiv {
            text-align: center;

            small {
                letter-spacing: 1.2rem;
                line-height: 2.5rem;
                text-transform: uppercase;
                font-size: 25px;
                color: var(--blackColor);
            }

            h2 {
                font-size: 40px;
            }
        }

        .infoDiv {
            margin-top: 2rem;
            gap: 1.5rem;

            .textDiv {
                gap: 1.5rem;

                .singleInfo {
                    .number {
                        background-color: var(--PrimaryColor);
                        padding: 5px 12px;
                        width: 40px;
                        border-radius: 3rem;
                        text-align: center;
                        font-size: 24px;
                        font-weight: 700;
                        color: var(--whiteColor);
                    }

                    .colorOne {
                        background-color: var(--colorOne);
                    }

                    .colorTwo {
                        background-color: var(--colorTwo);
                    }

                    h4 {
                        font-size: 22px;
                        margin-top: 5px;
                    }
                }
            }

            .imgDiv {
                margin-top: 10px;

                img {
                    width: 100%;
                    max-width: 420px;
                }
            }
        }
    }
}

//Info component
.info {
    background-color: var(--SecondaryColor);

    .infoContainer {
        .titleDiv {
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;
            justify-content: space-between;

            h2 {
                font-size: 30px;
            }

            .btn {
                font-size: 20px;
                font-weight: 700;
            }
        }

        .cardsDiv {
            gap: 2.5rem;
            margin-top: 3rem;

            .singleCard {
                background-color: var(--whiteColor);
                padding: 3rem 2rem;
                border-radius: 10rem;
                gap: 1rem;
                text-align: center;
                margin: auto;
                height: 350px;
                width: 90%;
                max-width: 250px;

                .iconDiv {
                    justify-content: center;
                    margin: auto;
                    background-color: var(--PrimaryColor);
                    width: max-content;
                    height: 55px;
                    padding: 1rem;
                    border-radius: 3rem;

                    .icon {
                        color: var(--whiteColor);
                    }
                }

                .cardTitle {
                    font-size: 25px;
                    font-weight: 700;
                    color: var(--blackColor);
                }

                .colorOne {
                    background-color: var(--colorOne);
                }

                .colorTwo {
                    background-color: var(--colorTwo);
                }
            }
        }
    }
}

// Lounge component
.lounge {
    margin-top: 20px;

    .sectionContainer {
        gap: 1.5rem;

        .imgDiv {
            margin: auto;
            img {
                width: 100%;
                max-width: 430px;
            }
        }

        .textDiv {
            h2 {
                font-size: 35px;
            }

            .grids {
                margin-top: 1rem;
                gap: 1.5rem;

                .singleGrid {
                    .gridTitle {
                        display: block;
                        padding-bottom: 0.5rem;
                        font-size: 22px;
                        font-weight: 600;
                        color: var(--blackColor);
                    }
                }
            }
        }
    }
}

// Travelers components
.travelers {
    .sectionContainer {
        text-align: center;

        .travelersContainer {
            margin-top: 1rem;
            gap: 1.5rem;

            .singleTraveler {
                position: relative;
                height: 360px;
                width: 90%;
                max-width: 280px;
                overflow: hidden;
                border-radius: 10rem;
                gap: 1rem;
                margin: auto;
                margin-bottom: 20px;

                .destinationImage,
                .travelerImage,
                .travelerName {
                    position: absolute;
                }

                .destinationImage {
                    height: 100%;
                    width: 100%;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    object-fit: cover;
                }

                .travelerImage {
                    height: 70px;
                    width: 70px;
                    object-fit: cover;
                    border-radius: 50%;
                    bottom: 30px;
                    left: 38%;
                    transform: translateX(-50%);
                    border: 5px solid rgba(225, 225, 225, 0.637);
                    transition: var(--transition);
                    animation: animated 2.3s infinite;
                }

                @keyframes animated {
                    0% {
                        transform: translateY(0px);
                    }
                    50% {
                        transform: translateY(8px);
                    }
                    100% {
                        transform: translateY(0px);
                    }
                }

                .travelerName {
                    bottom: -100%;
                    width: 100%;
                    height: max-content;
                    background-color: var(--whiteColor);
                    padding: 1.2rem 1rem;
                    transition: var(--transition);
                    animation: animatedBorders 2.3s infinite;

                    span {
                        display: block;
                        color: black;
                        font-size: 25px;
                        font-weight: 700;
                    }

                    p {
                        color: var(--PrimaryColor);
                        font-size: 20px;
                        font-style: italic;
                    }
                }

                @keyframes animatedBorders {
                    0% {
                        border-radius: 0rem;
                    }
                    50% {
                        border-radius: 2rem;
                    }
                    100% {
                        border-radius: 0rem;
                    }
                }

                &:hover {
                    .travelerName {
                        bottom: 0;
                        transition: 0.5s ease-in-out;
                    }

                    .travelerImage {
                        bottom: 110px;
                        transition: 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}

// Subscribers components
.subscribe {
    background-color: var(--SecondaryColor);

    .sectionContainer {
        text-align: center;

        h2 {
            font-size: 30px;
        }

        .inputDiv {
            margin-top: 1rem;
            flex-direction: column;
            background-color: var(--whiteColor);
            border-radius: 1rem;

            input {
                width: 80%;
                border: none;
                outline: none;
                background-color: transparent;
                padding: 1rem 1.5rem;

                &::placeholder {
                    font-size: 20px;
                    opacity: 0.5;
                }
            }

            .btn {
                width: 80%;
                margin-bottom: 12px;
            }
        }
    }
}

// Footer component
.footer {
    background-color: var(--SecondaryColor);

    .sectionContainer {
        gap: 2.5rem;

        p {
            font-size: 22px;
        }

        .gridOne {
            gap: 1rem;
            justify-content: center;
            margin: auto;

            .logoDiv {
                .Logo {
                    width: 20%;
                }
            }

            .media {
                margin-top: 2rem;
                gap: 1rem;

                .icon {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 1px solid var(--borderColor);
                    box-shadow: var(--boxShadow);
                    padding: 0.4rem;
                    color: var(--grayText);
                    margin: auto;

                    &:hover {
                        background-color: var(--PrimaryColor);
                        transform: translateY(-7px);
                        transition: var(--transition);
                        border: 1px solid var(--PrimaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }

        .footerLinks {
            display: grid;

            .linkTitle {
                color: var(--blackColor);
                font-weight: 500;
                display: block;
                padding-bottom: 1rem;
            }

            li a {
                display: block;
                color: var(--grayText);
                transition: var(--transition);
                font-size: 20px;
                padding: 0.3rem 0;

                &:hover {
                    transform: translateX(7px);
                    color: var(--PrimaryColor);
                }
            }

            span {
                font-size: 22px;
                font-weight: 600 !important;
            }
        }
    }
}

// RESPONSIVE
@media screen and (min-width: 480px) {
    .home {
        padding-top: 12rem;
    }

    .search {
        .sectionContainer {
            .searchInputs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .support {
        .sectionContainer {
            .infoDiv {
                .textDiv {
                    margin-top: 2rem;
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            .imgDiv {
                img {
                    width: 60% !important;
                    margin-left: 5%;
                }
            }
        }
    }

    .travelers {
        .sectionContainer {
            .travelersContainer {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .subscribe {
        .sectionContainer {
            max-width: 80%;
            margin: auto;

            .inputDiv {
                flex-direction: row;
                padding: 0 0.5rem;
                border-radius: 3rem;

                .btn {
                    margin-bottom: 0;
                    width: 40%;
                }
            }
        }
    }

    .footer {
        .sectionContainer {
            padding-top: 2rem;
            grid-template-columns: repeat(2, 1fr);

            .gridOne {
                .logoDiv {
                    width: 80%;
                    margin-left: 10%;
                }
                p {
                    font-size: 16px;
                }

                .media {
                    margin-top: 1rem;
                    .icon {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .footerLinks {
                justify-content: center;

                .linkTitle {
                    font-size: 20px;
                }

                li {
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 570px) {
    .home {
        .mainText {
            width: 80%;
            margin-bottom: 50px;
        }

        .homeImages {
            .video {
                border-radius: 15rem;
            }

            .plane {
                position: absolute;
                width: 95%;
                top: -40%;
            }
        }
    }

    .search {
        .sectionContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: -10%;

            .btns {
                border-radius: 3rem;
                flex-direction: row;
            }

            .searchInputs {
                .singleInput {
                    margin-left: 20%;
                }
            }
            .btnBlock {
                width: 50%;
            }
        }
    }

    .support {
        .sectionContainer {
            justify-content: center;

            .infoDiv {
                .textDiv {
                    .singleInfo {
                        margin-left: 15%;
                    }
                }

                .imgDiv {
                    margin-left: 25%;
                }
            }
        }
    }

    .info {
        .infoContainer {
            .titleDiv {
                flex-direction: row;

                .h2 {
                    text-align: left;
                    max-width: 500px;
                }

                .btn {
                    width: 40%;
                    font-size: 16px;
                }
            }
        }

        .cardsDiv {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .lounge {
        .sectionContainer {
            .textDiv {
                .grids {
                    grid-template-columns: repeat(2, 1fr);

                    .singleGrid {
                        .gridTitle {
                            font-size: 20px;
                        }
                    }
                }

                h2 {
                    font-size: 30px;
                }
            }
        }
    }

    .subscribe {
        .sectionContainer {
            .inputDiv {
                justify-content: space-between;

                .btn {
                    max-width: max-content;
                }
            }
        }
    }

    .footer {
        .sectionContainer {
            padding-top: 2rem;
            grid-template-columns: repeat(4, 1fr);

            .gridOne {
                .logoDiv {
                    width: 80%;
                    margin-left: 10%;
                }
                p {
                    font-size: 16px;
                }

                .media {
                    margin-top: 1rem;
                    .icon {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .footerLinks {
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width: 680px) {
    .home {
        .mainText {
            width: 80%;
        }

        .homeImages {
            .videoDiv {
                width: 80%;

                .video {
                    height: 100%;
                    width: 100%;
                    border-radius: 15rem;
                }
            }

            .plane {
                width: 95%;
                top: -45%;
            }
        }
    }

    .search {
        .sectionContainer {
            .btn {
                border-radius: 3rem;
                flex-direction: row;
            }

            .searchInputs {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .navBar {
        align-items: center;

        .navBarOne {
            .none {
                display: flex;
                gap: 1.5rem;

                li {
                    font-size: 18px;
                    gap: 0.5rem;
                    color: var(--textColor);

                    &:hover {
                        color: var(--PrimaryColor);
                        text-decoration: underline;
                    }
                }
            }
        }
        .navBarTwo {
            justify-content: space-between;
            align-items: center;

            .logoDiv {
                .Logo {
                    max-width: 20%;
                }
            }

            .menu {
                flex-direction: row;
                gap: 0.5rem;
                margin-right: 20px;

                .listItem {
                    padding: 0 0.5rem;
                    font-size: 18px;
                    cursor: pointer;
                    color: var(--textColor);
                    font-weight: 700;

                    &:hover {
                        color: var(--PrimaryColor);
                        font-weight: 700;
                    }
                }
            }

            .btnOne,
            .toggleIcon {
                display: none;
            }
        }
    }

    .search {
        .sectionContainer {
            .btn {
                width: 30%;
                border-radius: 3rem;
                flex-direction: row;
            }

            .searchInputs {
                grid-template-columns: repeat(4, 1fr);

                .singleInput {
                    margin-left: 10px;
                    .texts {
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .support {
        .sectionContainer {
            .infoDiv {
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                margin-top: 5rem;

                .textDiv {
                    margin-top: 0rem;
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }

    .info {
        .infoContainer {
            padding: 0 6rem;
            .titleDiv {
                width: 90%;
                align-items: center;
                align-items: center;

                .btn {
                    width: 40%;
                    font-size: 16px;
                }
            }
        }

        .cardsDiv {
            grid-template-columns: repeat(3, 1fr);

            .singleCard {
                max-width: 260px;
                padding: 3rem 1rem;
            }
        }
    }

    .lounge {
        .sectionContainer {
            grid-template-columns: repeat(2, 1fr);

            .textDiv {
                grid-area: 1;

                .grids {
                    grid-template-columns: repeat(2, 1fr);

                    .singleGrid {
                        .gridTitle {
                            font-size: 20px;
                        }
                    }
                }

                h2 {
                    font-size: 30px;
                }
            }
        }
    }

    .travelers {
        .sectionContainer {
            .travelersContainer {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .support {
        .sectionContainer {
            .infoDiv {
                .imgDiv {
                    img {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .home {
        padding-top: 13rem;

        .mainText {
            width: 70%;
            padding-top: 1.5rem;
            font-size: 22px;
            line-height: 4rem;
        }
    }

    .search {
        .sectionContainer {
            .searchInputs {
                grid-template-columns: repeat(4, 1fr);

                .singleInput {
                    margin-left: 20%;
                }
            }
        }
    }

    .travelers {
        .sectionContainer {
            .travelersContainer {
                grid-template-columns: repeat(4, 1fr);
                margin: 3rem 0;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    p {
        font-size: 20px;
        line-height: 26px;
    }

    h4 {
        font-size: 25px;
    }

    h2 {
        font-size: 28px;
    }

    .section {
        padding: 6rem 0 4rem;
    }

    .container {
        width: 75%;
        margin: auto;
    }

    .navBar {
        .navBarOne,
        .navBarTwo {
            padding: 1.5rem 5rem;
        }
        .navBarWithBackground {
            padding: 0 5rem;
        }
    }

    .home {
        .mainText {
            width: 60%;
            font-size: 28px;
            line-height: 4rem;
        }

        .homeImages {
            .videoDiv {
                width: 90%;
                height: 400px;

                .video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15rem;
                }
            }

            .plane {
                width: 80%;
                top: -50%;
            }
        }
    }

    .search {
        margin-top: 10%;
    }
}

@media screen and (min-width: 1106px) {
    .subscribe {
        .sectionContainer {
            max-width: 60%;
        }
    }
}

@media screen and (min-width: 1106px) {
    .navBar {
        .navBarTwo {
            .menu {
                gap: 1rem;

                .listItem {
                    padding: 0 1.5rem;
                    font-size: 18px;
                }
            }
        }
    }

    .support {
        .sectionContainer {
            .infoDiv {
                gap: 1rem;
                margin-top: 5rem;

                .textDiv {
                    margin-top: 0rem;
                    .singleInfo {
                        p {
                            max-width: 500px;
                        }
                    }
                }
            }
        }
    }
    .subscribe {
        .sectionContainer {
            max-width: 50%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .home {
        .homeImages {
            .plane {
                width: 90%;
                top: -55%;
            }
        }
    }

    .info {
        .infoContainer {
            padding: 0 6rem;
            .titleDiv {
                width: 100%;

                .btn {
                    width: 20%;
                    font-size: 16px;
                }
            }
        }
    }
}

::selection {
    background-color: var(--PrimaryColor);
    color: var(--whiteColor);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--grayBackground);
}

::-webkit-scrollbar-thumb {
    background-color: var(--PrimaryColor);
    border-radius: 10px;
}
